/*$desktop:      1200px; !* Large Devices, Wide Screens *!*/
/*$laptop:       992px;  !* Medium Devices, Desktops *!*/
/*$tablet:       768px;  !* Small Devices, Tablets *!*/
/*$phone:        480px;  !* Extra Small Devices, Phones *!*/

/*larger-equal-than*/
/*@media screen and (min-width: ($device)) {}*/

/*smaller-than*/
/*@media screen and (max-width: ($device - 1)) {}*/

html {
    min-height: 100%;
    position: relative;
}
body {
    font-size: 15px;
    /* Margin bottom to support sticky footer */
    margin-bottom: 68px;
    background-color: rgb(245, 247, 249);
    font-family: 'Titillium Web', sans-serif;
}

@media (max-width: 991px) {
    body {
        font-size: 14px;
    }
    pre {
        font-size: 12px;
    }
}
a:hover {
    transition: color ease .3s;
    text-decoration: none;
}
.btn-default {
    background: rgba(255, 255, 255, 0.08);
}
.btn {
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  color: #3A4145;
}
section {
    margin-bottom: 30px;
}
li {
    margin-bottom: 3px;
}
img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

table th,table td {
    padding:3px 10px;
    border: 1px solid #ccc;
}

#accordion {
    margin-top: 25px;
}

.panel-group .panel, .panel-group .panel.panel-default, .panel-group .panel.panel-default .panel-collapse .panel-body, .panel-group .panel.panel-default .panel-heading {
    background: none;
    border: none;
    border-color: transparent;
    border-radius: 0px;
    box-shadow: none;
}
    
.panel-group .panel.panel-default .panel-heading .panel-title {
    color: #0d2b3e;
    font-weight: bold;
}

.panel-group .panel.panel-default .panel-heading .panel-title a.active{
    background-color: transparent;
    color: #0099e5;
    font-weight: bold;
}

.breadcrumb {
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
}

/*----------------------
       CONTENT
-----------------------*/
.container-fluid {
    max-width: 1024px;
}
.content {
    background-color: white;
    font-family: "Camphor,Open Sans,Segoe UI",sans-serif;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.100000001490116px;
    color: #3A4145;
    font-weight: 300;
    text-align: justify;
    border-left: 1px solid rgba(120,134,156,.08);
}

.content .header {
    border-bottom: 1px solid rgba(120,134,156,.08)
}

.content .header a {
    float: right;
    margin-top: 8px;
}

.content .header a:hover {
    cursor: pointer;
}

#sidebar {

}

#sidebar .text-muted {
    font-weight: bold;
    color: #0d2b3e;
}

/* OVERRIDE BOOTSTRAP */
pre {
    padding: 5px;
}
.nav>li>a {
    padding: 5px 15px;
    color:#4c555a;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: transparent;
    color: #0099e5;
    font-weight: bold;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #0099e5;
    font-weight: bold;
}

/*----------------------
       HEADER
-----------------------*/
.site-header {
    padding: 10px 0 10px 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(120,134,156,.08);
}
.site-header a {
    color: whitesmoke;
}
.site-header h2 {
  color: whitesmoke;
}
.site-header i {
    color: whitesmoke;
}

.site-header a:hover {
    color: #57a3e8;
}

.site-header .site-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
    font-family: 'Open Sans',sans-serif;
    text-indent: -3px;
    letter-spacing: -2px;
    font-weight: bold;
    font-size: 56px;
}

.site-header .site-branding {
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    height:50px;
    margin-top: 10px;
}

.header img.logo {
    width: 120px;
}

.site-header .site-branding .site-description  {
    padding: 0;
    font-size: 16px;
    color:gray;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
    margin-top: 8px;
}

.site-header .button-line {
    padding-top: 2.5%;
}
.site-header .button-line .btn {
    margin: 0 10px;
}

/*----------------------
       FOOTER
-----------------------*/
.site-footer {
    position: absolute;
    height: 68px;
    bottom: 0;
    width: 100%;
    background: 50% 50% repeat url("../img/footer_bg.png");
    color: #64b2df;
    border-top: 2px solid #c0c0c0;
}

.site-footer .top-bar-line {
    padding-top: 5px;
}

.site-footer .bottom-panel {
    color: #808080;
    background-color: #222222;
    padding: 20px 0;
}

.site-footer .bottom-panel a i { font-size: 24px; }
.site-footer .bottom-panel a:hover i { transform: scale(2); }


/* Desktop-First approach. General selectors and styles designed to make the site look good on DESKTOP screens go here.
But they affect all devices, and must be overridden by media queries targeting INCREASINGLY SMALLER screens */

@media (max-width: 979px) {
    /* Selectors and styles affecting screens UP TO 979px (Desktop) */
}

@media (max-width: 767px) {
    /* Selectors and styles affecting screens UP TO 767px (Tablet) */
}

@media (max-width: 480px) {
    /* Selectors and styles affecting screens UP TO 480px (Phone) */
    .site-header .site-name {
        font-size: 36px;
    }
    h2, h3 {
        font-size: 18px;
    }
    .content {
        font-size: 14px;
    }
}